<header class="site-header">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-4">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    <div class="col-md-4 text-center">
      <ul class="nav nav-pills center-pills navbar-btn">
        {{ with .Site.Params.facebook }}
        <li class="social facebook"><a target="_blank" href="{{.}}" aria-label="facebook"><i class="fa fa-facebook-square"></i></a></li>
        {{ end }}
        {{with  .Site.Params.quora }}
        <li class="social quora"><a target="_blank" href="{{.}}" aria-label="quora"><i class="fa fa-quora"></i></a></li>
        {{ end }}
        {{with  .Site.Params.telegram }}
        <li class="social telegram"><a target="_blank" href="{{.}}" aria-label="telegram"><i class="fa fa-telegram"></i></a></li>
        {{ end }}
        {{with  .Site.Params.mastodon }}
        <li class="social mastodon"><a target="_blank" href="{{.}}" aria-label="mastodon"><i class="fa fa-meetup" aria-hidden="true"></i></a></li>
        {{ end }}
        {{with  .Site.Params.twitter }}
        <li class="social twitter"><a target="_blank" href="{{.}}" aria-label="twitter"><i class="fa fa-twitter"></i></a></li>
        {{ end }}
        {{with  .Site.Params.youtube }}
        <li class="social youtube"><a target="_blank" href="{{.}}" aria-label="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        {{ end }}
        {{with  .Site.Params.archive }}
        <li class="social archive"><a target="_blank" href="{{.}}" aria-label="archive"><i class="fa fa-university" aria-hidden="true"></i></a></li>
        {{ end }}
        {{with  .Site.Params.gitlab }}
        <li class="social gitlab"><a target="_blank" href="{{.}}" aria-label="gitlab"><i class="fa fa-gitlab"></i></a></li>
        {{ end }}
        {{with  .Site.Params.email }}
        <li class="social email"><a target="_blank" href="mailto:{{.}}" aria-label="correo"><i class="fa fa-envelope"></i></a></li>
        {{ end }}
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absLangURL }}" {{if not .Name}} aria-label="{{.Title}}"{{end}} >{{ .Pre  }}<span>{{ .Name  }}</span></a>
        </li>
        {{ end  }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeds <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {{ range .Site.Menus.feeds }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre  }}<span>{{ .Name  }}</span></a>
          </li>
          {{ end  }}
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
